/* DOCUMENT INFORMATION
    - Document : Raiden Shogun
    - Version : 0.0.1
    - Author : Nakad
*/

/*
 * GLOBAL
 * ****** */

body {
    background-color: white;
}

h1 {
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 700;
    word-spacing: 8px;
}

h2 {
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 700;
    word-spacing: 8px;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2::after {
    display: block;
    height: 2px;
    width: 10%;
    background-color: #392376;
    content: "";
    margin: 0 auto;
    margin-top: 1%;
}

h3 {
    font-size: 160%;
}

p {
    font-weight: 300;
}

section {
    padding: 30px 0 60px 0;
}

/*
 * HEADER
 * ****** */

header {
    background-image: url(../images/RaidenBack.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 91vh;
}

.home-title {
    position: absolute;
    top: 10%;
    left: 5%;
}

.home-title h1 {
    font-size: 340%;
}

/*
 * BUTTON
 * ****** */

.btn {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    transition: background-color 1sc color 1sc border 1sc;
}

.btn-full {
    background: #C8ACDD;
    margin-right: 15px;
}

.btn-ghost {
    border: 1px solid #392376;
}

.btn-full:hover {
    background-color: #9C94BD;
    color: white;
}

.btn-ghost:hover {
    background-color: #9C94BD;
    color: white;
    border: 1px solid #9C94BD;
}

/*
 * SECTION
 * ******* */

.shogun {
    margin: 20px 0
}

.shogun:hover {
    transform: translate(20px);
    color: #392376;
    transition: all 1s;
}

.shogunimg {
    height: auto;
    max-width: 100%;
}

.shogunicon {
    font-size: 34px;
    color: #9C94BD;
}

/*
 * OUTFIT
 * ****** */

.outfit {
    background-color: #9C94BD;
}

.topimg {
    height: 100%;
    width: 100%;
}

.outfit-tab {
    box-shadow: 0 0 10px;
    background-color: #C8ACDD;
}

/*
 * PHOTO GALLERY
 * ************* */

.gallery-img {
    display: block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    margin-bottom: 5%;
}

.gallery-title {
    position: relative;
    top: 90%;
    left: 2%;
}

.gallery-title h4 {
    color: whitesmoke;
    text-shadow: 1px 1px 2px gray;
}

/* 
 * COMMENT
 * ******* */

.user {
    background-image: url(../images/UserBackground.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.user h2 {
    color: white;
}

.user blockquote {
    color: white;
    text-shadow: 1px 1px 2px gray;
}

blockquote {
    padding: 5px;
}

cite {
    display: block;
    margin-top: 5%;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 5%;
}

/*
 * DONS
 * **** */

.dons {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.dons h3 {
    color: #34235E;
    font-weight: 400;
}

.dons h4 {
    color: #9C95CF;
    font-size: 150%;
    font-weight: 300;
}

.dons p {
    font-size: 80%;
}

.dons-title {
    padding: 10px 10px 0% 10px;
    border-bottom: #DDBDE2 solid 2px;
}

.dons-content ul {
    list-style: none;
    padding: 20px;
    font-weight: 300;
    line-height: 35px;
}

.dons-content ul li i {
    font-size: 90%;
    margin-right: 5%;
}

.dons-signup {
    text-align: center;
}

.btn-dons {
    background-color: #9C95CF;
    color: black;
    margin-bottom: 5%;
}

.dons-premium {
    background-color: #EAE2ED;
}

.dons-title-premium {
    background-color: #3D2E66;
    border-radius: 10px;
    color: #B9A0D2;
    text-align: center;
}

.btn-dons:hover {
    background-color: #322E57;
    color: #B9A0D2;
}

/* 
 * FORM
 * **** */

.contact-form {
    margin-bottom: 30px;
}

.contact-message {
    width: 100%;
}

.btn-form {
    background-color: #9C95CF;
    color: black;
    margin-bottom: 5%
}